.p5-info {
    /*padding-left: 20%;*/
    margin: 20px 0;
}

.p5-info p {
    margin-bottom: 4px;
    /*text-align: left;*/
}


canvas {
    /*border: 4px solid #343A40;*/
    border-radius: 20px;
    box-shadow: 2px 2px 20px #eeeeee;
}