body {
    margin: 0;
    font-family: Helvetica, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.evolve-input {
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    outline: none;
    border-bottom: 2px #343A40 solid;
}