body {
    margin: 0;
    font-family: 'Fira Code', monospace;
    padding-top: 70px;
}

code {
    font-family: 'Fira Code', monospace;
}


.evolve-input {
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    outline: none;
    border-bottom: 2px #343A40 solid;
}

.evolve-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navs {
    border-radius: 20px;
    transition: all 0.5s ease;
}

.navs:hover {
    background: rgba(255, 255, 255, 0.5);
}

.active {
    background: white;
}

.active:hover {
    background: white;
}

.active * {
    color: #343A40;
}

.active a:hover {
    color: #343A40;
}


.evolve-link:hover {
    text-decoration: none;
    color: #fff;
}

.p5-button {
    padding: 8px 20px;
    border: 1px #343A40 solid;
    border-radius: 10px;
    background: #fff;
    color: #343A40;
    display: block;
    margin: auto;
}

.p5-button:hover {
    background: #343A40;
    color: #fff;
}
